
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgb(148, 174, 177) 0%, rgb(216, 243, 254) 35%, rgb(233, 243, 246) 100%);
    font-family: 'Roboto', sans-serif;
}

form{
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(60, 60, 57) 0%, rgb(65, 64, 57) 35%, rgb(62, 62, 57) 100%);
}
.form-control{
    color:rbga(0,0,0,.87);
    border-bottom-color: rbga(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0 ;
}
h4{
    font-size: 2rem !important;
    font-weight: 700;
}
.form-label{
    font-family: 800 !important;
}